.app {
  margin-inline: 1.5em;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--header-outline);
  border-radius: var(--radius);
  padding: 0.75em 0.75em 0.75em 1.5em;
  margin: 2em;
  max-width: 800px;
  width: 100%;
}

.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  height: 4rem;
}

.score-container {
  background-color: var(--light-text);
  padding: 0.5em 1.75em;
  border-radius: var(--radius);
}

.score-container p:first-child {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--score-text);
}

.score-container p:last-child {
  font-size: 2.2rem;
  color: var(--dark-text);
}

.score-container p {
  text-align: center;
}

.symbols-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1em;
  border: 0.1em solid transparent;
  box-shadow: 0 5px 15px var(--modal-shadow);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.border:hover {
  transform: scale(1.1);
}

.circle {
  background-color: var(--light-text);
  width: 5.5em;
  height: 5.5em;
  padding: 1.5em;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 5px 0 var(--circle-shadow);
}

.circle img {
  width: 100%;
}

.scissors {
  top: -2em;
  left: calc(50% - translateX(-50%));
  background-image: var(--scissors-gradient);
}

.paper {
  top: 3.5em;
  right: -3.5em;
  background-image: var(--paper-gradient);
}

.rock {
  bottom: -4em;
  right: 0em;
  background-image: var(--rock-gradient);
}

.lizard {
  bottom: -4em;
  left: 0em;
  background-image: var(--lizard-gradient);
}

.spock {
  top: 3.5em;
  left: -3.5em;
  background-image: var(--spock-gradient);
}

.pentagon {
  width: 15em;
}

.rules {
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--light-text);
  border-radius: var(--radius);
  padding: 0.5em 2em;
  color: var(--light-text);
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-top: 2em;
  cursor: pointer;
}

.attribution {
  color: var(--light-text);
  text-align: center;
}

@media (max-width: 350px) {
  .pentagon {
    width: 12em;
  }

  .circle {
    width: 4.5em;
    height: 4.5em;
    padding: 1em;
  }
}

@media (min-width: 600px) {
  .pentagon {
    width: 20em;
  }

  .paper {
    top: 4.5em;
    right: -3.5em;
  }

  .spock {
    top: 4.5em;
    left: -3.5em;
  }
}

@media (min-width: 768px) {
  .score-container p:first-child {
    font-size: 1.25rem;
  }

  .score-container p:last-child {
    font-size: 2.5rem;
  }

  .pentagon {
    width: 25em;
  }

  .circle {
    width: 7em;
    height: 7em;
  }

  .scissors {
    top: -4em;
  }

  .paper {
    top: 6em;
  }

  .spock {
    top: 6em;
  }
}

@media (min-width: 1024px) {
  .header {
    margin-top: 3em;
  }

  .header img {
    height: 3em;
  }

  .score-container {
    padding: 0.75em 3em;
  }

  .score-container p:first-child {
    font-size: 1.5rem;
  }

  .score-container p:last-child {
    font-size: 3rem;
  }

  .pentagon {
    width: 35em;
  }

  .main {
    margin-top: 3em;
    margin-bottom: 6em;
  }

  .circle {
    width: 10em;
    height: 10em;
    padding: 2.7em;
  }

  .border {
    padding: 1.5em;
  }

  .paper {
    top: 10em;
    right: -5em;
  }

  .spock {
    top: 10em;
    left: -5em;
  }

  .rules {
    position: absolute;
    bottom: 3em;
    right: 3em;
  }
}

