:root {
  --light-text: hsl(255, 100%, 100%);
  --dark-text: hsl(229, 25%, 31%);
  --background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --scissors-gradient: linear-gradient(
    180deg,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --paper-gradient: linear-gradient(
    180deg,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --rock-gradient: linear-gradient(
    180deg,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --lizard-gradient: linear-gradient(
    180deg,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  --spock-gradient: linear-gradient(
    180deg,
    hsl(189, 59%, 53%),
    hsl(189, 58%, 57%)
  );
  --modal-shadow: rgba(0, 0, 0, 0.7);
  --circle-shadow: rgba(0, 0, 0, 0.2);
  --radius: 0.5em;
}
